/*--
Author: W3layouts
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
--*/
h4, h5, h6,
h1, h2, h3 {margin-top: 0;}
ul, ol {margin: 0;}
p {margin: 0;}
html, body{
 font-family: 'RopaSans-Regular';
   font-size: 100%;
   background:#fff;
}
@font-face {
    font-family: 'RopaSans-Regular';
    src:url(../fonts/RopaSans-Regular.ttf) format('truetype');
}
@font-face {
	font-family: 'Courgette-Regular';
    src:url(../fonts/Courgette-Regular.ttf) format('truetype');
}
a {
  transition: 0.5s all;
  -webkit-transition: 0.5s all;
  -moz-transition: 0.5s all;
  -o-transition: 0.5s all;
  text-decoration: none!important;
}
/*--header  start here--*/
.header {
  background: #7F6645;
}
span.menu {
  display: none;
}
.top-nav ul {
  padding: 0px;
  list-style:none;
  text-align:center;
}
.top-nav ul li {

}
.nav-pills > li > a {
 border-radius: 0px;
}
.top-nav ul li a.no-bar {
  border-left: none;
}
.top-nav ul li a {
  font-size: 1.2em;
  font-weight: 400;
  color: #fff;
  padding: 1.7em 3.25em 1.7em 3.2em;
  display: block;
  background: #ffcd00;
  border-left: 1px solid #D2AA07;
  font-family: 'Courgette-Regular';
}
.top-nav ul li a:hover,.top-nav ul li a.active {
  background: #fff;
  color: #000;
  text-decoration: none;
}
.nav > li > a:focus {
  text-decoration: none;
   background: #fff;
   color:#000;
}
.top-nav {
  padding: 1em 0em 0em 0em;
}
.logo {
  text-align: center;
  padding: 1.5em 0em 1em 0em;
}
.top-nav  ul li a i{
  display: block;
  line-height: 1.5em;
    font-size: 1.2em;
}
/*-banner start here--*/
.banner{
  background: url(../images/vik.jpg)no-repeat;
  min-height: 675px;
  background-size: cover;
  position:relative;
}
.banner-main {
  padding: 35em 0em 0em 0em;
}
.banner-main p {
  font-size: 1em;
  font-weight: 400;
  color: #fff;
  line-height: 1.6em;
  text-align: center;
  width: 50%;
  margin: 0 auto;
  padding: 2em 1em 2em 1em;
  background: rgba(255, 205, 0, 0.31);
}
.bann-info {
  padding: 5em 0em 5em 0em;
}
.bann-info-grid img {
  border-radius: 10px 10px 0px 0px;
}
.ban-info-details {
  padding: 0.5em 0.3em 1em 0.3em;
  text-align: center;
  border-radius:0px 0px 10px 10px;
  background:#BA0C2F
}
.ban-info-details:hover{
	background:#ffcd00;
	 transition: 0.5s all;
  -webkit-transition: 0.5s all;
  -moz-transition: 0.5s all;
  -o-transition: 0.5s all;
}
.ban-info-details h3{
  font-size: 1.4em;
  font-weight: 600;
  color: #fff;
  margin: 0em 0em 0.2em 0em;
  font-family: 'Courgette-Regular';
}
.ban-info-details p {
  font-size: 1em;
  font-weight: 400;
  color: #fff;
  line-height: 1.6em;
  text-align: center;
}
/*--banner end here--*/
/*--coff-online start here--*/
.coff-online {
  background: url(../images/fiu.jpg)no-repeat;
  min-height: 500px;
  background-size: cover;
}
.coff-online-main {
  padding: 4em 0em 0em 0em;
}
.coff-online-main h1 {
  font-size: 3em;
  font-weight: 600;
  color: #ffcd00;
  margin: 0em 0em;
  font-family: 'Courgette-Regular';
}
.coff-online-main h2 {
  font-size: 1.8em;
  font-weight: 600;
  color: #fff;
  margin: 0.2em 0em 1em 0em;
  font-family: 'Courgette-Regular';
}
.coff-online-main h4 {
  font-size: 1.3em;
  font-weight: 400;
  color: #fff;
  margin: 0em 0em 0.6em 0em ;
  line-height: 1.3em;
  width: 80%;
}
.coff-online-main p {
    font-size: 1em;
  font-weight: 400;
  color: #ADADAD;
  line-height: 1.6em;
  width: 68%;
}
span.glyphicon.glyphicon-list-alt.read {
  line-height: 2.2em;
  font-size: 2em;
  color: #fff;
  text-align: center;
  background: #ba0c2f;
  width: 70px;
  height: 70px;
  display: block;
  border-radius: 13px;
  margin: 1em 0em 0em 0em;
}
span.glyphicon.glyphicon-list-alt.read:hover {
	background:#ffcd00;
	 border-radius: 13px;
	 transition: 0.5s all;
  -webkit-transition: 0.5s all;
  -moz-transition: 0.5s all;
  -o-transition: 0.5s all;
  text-decoration:none;
}
/*--coff-online end here--*/
/*--coffee-bar start here--*/
.coff-bar-left {
   background: url(../images/chi.jpg)no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  min-height: 440px;
  padding: 0px;
}
.coff-bar-right {
  padding: 0px;
  padding: 6em 1em 0em 1em;
  text-align: center;
}
.coff-bar-right h3 {
  font-size: 2.2em;
  font-weight: 600;
  color: #ba0c2f;
  font-family: 'Courgette-Regular';
  margin: 0em 0em 0.5em 0em;
}
.coff-bar-right p {
    font-size: 1em;
  font-weight: 400;
  color:#777676;
  line-height: 1.6em;
  width: 68%;
  margin: 0 auto;
}
.cof-bar-btn {
  margin: 3em 0em 0em 0em;
}
.cof-bar-btn a {
  font-size: 1.1em;
  font-weight: 400;
  color: #000;
  padding: 1.1em 2.5em 1.1em 2.5em;
  border: 2px solid #BA0C2F;
  text-decoration: none;
}
.cof-bar-btn a:hover {
  border: 2px solid #ffcd00;
  color: #fff;
}
/*--coffee-bar end here--*/
/*--culfy start here--*/
.culfy-left {
  text-align: center;
  padding: 5.5em 1em 0em 1em;
}
.culfy-right{
  background: url(../images/bar.jpg)no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  min-height: 440px;
  padding: 0px;
}
.culfy-left h3 {
  font-size: 2.2em;
  font-weight: 600;
  color: #ffcd00;
 font-family: 'Courgette-Regular';
  margin: 0.3em 0em 0.5em 0em;
}
.culfy-left h4 {
  font-size: 1.2em;
  font-weight: 600;
  color: #ba0c2f;
}
.culfy-left p {
  font-size: 1em;
  font-weight: 400;
  color: #777676;
  line-height: 1.6em;
  width: 68%;
  margin: 0 auto;
}
.cull-btn  {
  margin: 3em 0em 0em 0em;
}
.cull-btn a {
  font-size: 1.1em;
  font-weight: 400;
  color: #000;
  padding: 1.1em 2.5em 1.1em 2.5em;
  border: 2px solid #ba0c2f;
  text-decoration: none;
}
.cull-btn a:hover {
  border: 2px solid #ffcd00;
}
/* Bounce To Bottom */
.hvr-bounce-to-bottom {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  position: relative;
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 0.5s;
  transition-duration: 0.5s;
}
.hvr-bounce-to-bottom:before {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #ffcd00;
  -webkit-transform: scaleY(0);
  transform: scaleY(0);
  -webkit-transform-origin: 50% 0;
  transform-origin: 50% 0;
  -webkit-transition-property: transform;
  transition-property: transform;
  -webkit-transition-duration: 0.5s;
  transition-duration: 0.5s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}
.hvr-bounce-to-bottom:hover, .hvr-bounce-to-bottom:focus, .hvr-bounce-to-bottom:active {
  color: white;
}
.hvr-bounce-to-bottom:hover:before, .hvr-bounce-to-bottom:focus:before, .hvr-bounce-to-bottom:active:before {
  -webkit-transform: scaleY(1);
  transform: scaleY(1);
  -webkit-transition-timing-function: cubic-bezier(0.52, 1.64, 0.37, 0.66);
  transition-timing-function: cubic-bezier(0.52, 1.64, 0.37, 0.66);
}
/*--culfy end here--*/
/*--footer start here--*/
.footer {
  padding: 4em 0em 4em 0em;
  background: #181616;
}
.footer-grid h3 {
  font-size: 1.7em;
  font-weight: 400;
  color: #fff;
  margin: 0em 0em 1em 0em;
  font-family: 'Courgette-Regular';
}
.footer-grid ul {
  padding: 0px;
  list-style: none;
}
.footer-grid ul li{
	display: block;
	margin: 0em 0em 0.5em 0em;
}
.footer-grid ul li a{
  font-size: 1em;
  font-weight: 400;
  color: #A09898;
  text-decoration: none;
}
.footer-grid ul li a:hover{
	color: #ffcd00;
}
.footer-grid p {
  font-size: 1em;
  font-weight: 400;
  color: #A09898;
  line-height: 1.7em;
}
.footer-grid p a{
	color: #A09898;
	text-decoration:none;
}
.footer-grid p a:hover{
	color: #ffcd00;
}
.footer-grid h4 {
  font-size: 1.5em;
  font-weight: 400;
  color: #ba0c2f;
  margin: 0em 0em 0em 0em;
}
ul.social-icon-ftr li{
	display: inline-block;
}
ul.social-icon-ftr li a span{
  background: url(../images/ftr-icon.png)no-repeat;
  width: 30px;
  height: 30px;
  display: block;
}
ul.social-icon-ftr li a span.fa {
  background-position: 0px 0px;
}
ul.social-icon-ftr li a span.tw {
  background-position: -32px 0px;
}
ul.social-icon-ftr li a span.p {
  background-position: -64px 0px;
}
ul.social-icon-ftr li a span.fa:hover {
  background-position: 0px -32px;
}
ul.social-icon-ftr li a span.tw:hover {
  background-position: -32px -32px;
}
ul.social-icon-ftr li a span.p:hover {
  background-position: -64px -32px;
}
.ftr-cont span.glyphicon.glyphicon-envelope {
  font-size:2em;
}
.ftr-cont a {
  font-size: 1em;
  font-weight: 400;
  color: #fff;
}
.ftr-cont a:hover {
	text-decoration:none;
	color: #ffcd00;
}
.copyright {
  padding: 1.5em 0em 0em 0em;
  text-align: center;
}
.copyright p {
  font-size: 1.05em;
  font-weight: 400;
  color: #fff;
}
.copyright p a {
  color: #ffcd00;
}
.copyright p a:hover {
  color: #fff;
  text-decoration:none;
}
.ftr-cont span.glyphicon.glyphicon-envelope {
  font-size: 2em;
  vertical-align: middle;
  color: #FFCD00;
}
/*--footer end here--*/
/*--about start here--*/
.about-top {
  text-align: center;
  padding: 0em 0em 2.5em 0em;
}
.about {
  padding: 3em 0em 3em 0em;
}
.about-top h3 {
  font-size: 2.5em;
  font-weight: 600;
  color: #ba0c2f;
  margin: 0em 0em;
  font-family: 'Courgette-Regular';
}
.about-top p {
  font-size: 1em;
  font-weight: 400;
  color: #777676;
  line-height: 1.6em;
  width: 68%;
  margin: 0 auto;
}
.about-wedo-right h4 {
  font-size: 1.3em;
  font-weight: 400;
  font-family: 'Courgette-Regular';
  margin: 0em 0em 0.5em 0em;
}
.about-wedo-right h4 a{
   color: #ba0c2f;
   text-decoration: none;
}
.about-wedo-right h4 a:hover{
	 color: #ffcd00;
}
.about-wedo-right p {
  font-size: 1em;
  font-weight: 400;
  color: #777676;
  line-height: 1.6em;
}
.team-mem {
  background: rgba(153, 153, 153, 0.18);
  padding: 3em 0em 3em 0em;
}
.team-main h3 {
  font-size: 2.5em;
  font-weight: 600;
  color: #ba0c2f;
  margin: 0em 0em 0.7em 0.2em;
  font-family: 'Courgette-Regular';
}
.team-details{
  text-align:center;
}
.team-details h4 {
  font-size: 1.5em;
  font-weight: 400;
  color: #ffcd00;
  margin: 0.2em 0em 0.2em 0em;
  font-family: 'Courgette-Regular';
}
.team-details p {
  font-size: 1em;
  font-weight: 400;
  color: #777676;
  line-height: 1.6em;
}
.advantages {
  padding: 4em 0em 4em 0em;
}
.advantages h3 {
  font-size: 2.5em;
  font-weight: 600;
  color: #ba0c2f;
  margin: 0em 0em 1.3em 0em;
  font-family: 'Courgette-Regular';
  text-align:center;
}
/*--about end here--*/
/*--advantages start here--*/
.advan-cup {
  background: url(../images/ad4.png)no-repeat#ffcd00 22px 15px;
  width: 105px;
  min-height: 100px;
  height: 44px;
  padding: 0px;
}
.advan-ser {
  background: url(../images/ad1.png)no-repeat#ffcd00 22px 15px;
  width: 105px;
  min-height: 100px;
  height: 44px;
  padding: 0px;
}
.advan-mach {
  background: url(../images/ad3.png)no-repeat#ffcd00 22px 15px;
  width: 105px;
  min-height: 100px;
  height: 44px;
  padding: 0px;
}
.advan-tin {
  background: url(../images/ad2.png)no-repeat#ffcd00 22px 15px;
  width: 105px;
  min-height: 100px;
  height: 44px;
  padding: 0px;
}
.advan-top {
  margin: 0em 0em 4em 0em;
}
.advan-text h4 {
  font-size: 1.4em;
  font-weight: 400;
  margin: 0em 0em 0.3em 0em;
  font-family: 'Courgette-Regular';
}
.advan-text h4 a{
  color: #ba0c2f;
}
.advan-text h4 a:hover{
  color: #000;
  text-decoration:none;
}
.advan-text p {
  font-size: 1em;
  font-weight: 400;
  color: #777676;
  line-height: 1.6em;
}
/*--advantage end here--*/
/*--services start here--*/
.services {
  padding: 4em 0em 4em 0em;
}
.services-main h3 {
  font-size: 2.5em;
  font-weight: 600;
  color: #ba0c2f;
  margin: 0em 0em 1em 0.51em;
  font-family: 'Courgette-Regular';
}
.services-bot {
  margin: 0em 0em 2em 0em;
}
.serv-text h4 {
  font-size: 1.5em;
  font-weight: 400;
  line-height: 1.2em;
  font-family: 'Courgette-Regular';
}
.serv-text h4 a{
  color: #ffcd00;
  text-decoration:none;
}
.serv-text h4 a:hover{
  color: #ffcd00;
  text-decoration:none;
}
.serv-text p {
  font-size: 1em;
  font-weight: 400;
  color: #777676;
  line-height: 1.6em;
}
.feature {
  padding: 0em 0em 4em 0em;
}
.feature-main {
  padding: 2em 0em 0em 0em;
}
.feature-text h4 {
  font-size: 1.1em;
  font-weight: 600;
  color: #000;
  margin: 0em 0em 0.2em 0em;
  font-family: 'Courgette-Regular';
}
.feature-text h4 a {
  color:#BA0C2F;
  text-decoration: none;
}
.feature-text h4 a:hover {
	color:#000;
}
.feature-text p {
  font-size: 1em;
  font-weight: 400;
  color: #777676;
  line-height: 1.6em;
}
.feature h3 {
  font-size: 2.5em;
  font-weight: 600;
  color: #000;
  text-align: center;
  margin: 0em 0em 0em 0em;
  font-family: 'Courgette-Regular';
}
.cord-drop {
  padding: 0px;
}
.cord-drop span.numbers {
  background: #ba0c2f;
  padding: 0.2em 0.45em 0.2em 0.45em;
  font-size: 1.7em;
  font-weight: 600;
  color: #fff;
  border-radius: 21px;
  width: 100%;
}
/*--services end herer--*/
/*--addition start here--*/
.addition-main h3 {
  font-size: 2.5em;
  font-weight: 600;
  color: #ba0c2f;
  margin: 0em 0em 1em 0em;
  font-family: 'Courgette-Regular';
}
.addition {
  padding: 2em 0em 4em 0em;
}
.addition-grid ul {
  padding: 0em;
  list-style: none;
}
.addition-grid ul li {
  margin: 0em 0em 0.5em 0em;
}
.addition-grid ul li a {
  font-size: 1em;
  font-weight: 400;
  color: #000;
  background: url(../images/arrow1.png) no-repeat;
  padding: 0px 0px 0px 35px;
}
.addition-grid ul li a:hover {
  color: #ffcd00;
  text-decoration:none;
}
.addition-grid {
  padding: 0em;
}
/*--addition end here--*/
/*--blog start here--*/
.blog {
  padding: 4em 0em 4em 0em;
}
.blog-top {
  padding: 0em 0em 3em 0em;
  text-align: center;
}
.blog-top h3 {
  font-size: 2.5em;
  font-weight: 600;
  color: #ba0c2f;
  margin: 0em 0em 0.2em 0em;
  font-family: 'Courgette-Regular';
}
.blog-top p {
  font-size: 1em;
  font-weight: 400;
  color: #777676;
  line-height: 1.6em;
  width: 68%;
  margin: 0 auto;
}
.blog-grids h4 {
  font-size: 1.4em;
  font-weight: 600;
  font-family: 'Courgette-Regular';
  margin: 0.3em 0em 0.5em 0em;
}
.blog-grids h4 a{
   color: #000;
   text-decoration:none;
}
.blog-grids h4 a:hover{
  color: #BA0C2F;
  text-decoration:none;
}
.blog-detail p {
  font-size: 1em;
  font-weight: 400;
  color: #777676;
  line-height: 1.6em;
}
.blog-grids {
  padding: 0em 0em 4em 0em;
}
.blog-btn {
  margin: 1.5em 0em 0em 0em;
}
.blog-btn a {
  font-size: 1em;
  font-weight: 400;
  color: #fff;
  background:#ffcd00;
  padding: 0.5em 1em 0.5em 1em;
  border-radius: 5px;
  text-decoration:none;
 font-family: 'Courgette-Regular';
}
.blog-btn a:hover {
	text-decoration:none;
	background: #a6192e;
}
.blog-right {
  padding: 0em 0em 0em 2em;
}
.blog-cate {
  margin: 0em 0em 2.5em 0em;
}
.blog-cate h3 {
  font-size: 1.5em;
  font-weight: 600;
  color: #ffcd00;
  margin: 0px 0px 16px 0px;
  font-family: 'Courgette-Regular';
}
.blog-cate ul{
	padding:0px;
	list-style:none;
}
.blog-cate ul li {
  display: block;
  margin: 10px 0px 10px 0px;
}
.blog-cate ul li a {
  font-size: 1em;
  font-weight: 400;
  color: #000;
  text-decoration: none;
  background: url(../images/arrow.png) no-repeat;
    padding: 0px 0px 0px 25px;
}
.blog-cate ul li a:hover {
	color: #FFCD00;
	text-decoration: none;
}
.blog-grids h3 {
  font-size: 1.4em;
  font-weight: 600;
  color: #BA0C2F;
  font-family: 'Courgette-Regular';
  text-align: center;
  margin: 0em 0em 1.5em 0em;
}
ul.p_n-list {
	list-style: none;
	padding: 0px;
	text-align: center;
}
ul.p_n-list li span.list-bar{
  font-size: 1em;
  font-weight: 400;
  color: #fff;
  background:#ffcd00;
  padding: 10px 1em;
}
ul.p_n-list li {
	display: inline-block;
	margin: 0px 1em 0px 0px;
}
ul.p_n-list li a {
	font-size: 1em;
	font-weight: 400;
	color: #fff;
	background: #ba0c2f;
	padding: 10px 1em;
}
ul.p_n-list li a:hover{
	color:#fff;
	background:#ffcd00;
	text-decoration:none;
	transition: all 0.3s ease;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
}
/*--blog end here--*/
/*--single page start here--*/
.single-commemts {
  border: 1px solid #A8A6A6;
  padding: 1em 1em 1em 1em;
}
.user-comment h4 {
  font-size: 1.4em;
  font-weight: 600;
  margin: 0em 0em 0.3em 0em;
  font-family: 'Courgette-Regular';
}
.user-comment h4 a{
  color: #BA0C2F;
  text-decoration:none;
}
.user-comment h4 a:hover{
   color: #000;
   text-decoration:none;
}
.user-comment p{
  font-size: 1em;
  font-weight: 400;
  color: #000;
  line-height: 1.6em;
}
.user-comment h5 {
  font-size: 1em;
  font-weight: 600;
  margin: 0.3em 0em 0.5em 0em;
}
.user-bwn {
  text-align: right;
  margin: 1em 0em 0em 0em;
}
.user-bwn a {
  font-size: 15px;
  font-weight: 400;
  color: #fff;
  background: #BA0C2F;
  padding: 7px 11px;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -o-border-radius: 5px;
  text-decoration:none;
}
.user-bwn a:hover {
  background: #ffcd00;
  text-decoration: none;
}
.magsingle-contact {
  margin: 3em 0em 0em 0em;
}
.magsingle-contact h3 {
  font-size: 25px;
  font-weight: 600;
  color: #BA0C2F;
  margin: 0px 0px 20px 0px;
  font-family: 'Courgette-Regular';
}
.magsingle-contact input[type="text"] {
  font-size: 14px;
  font-weight: 400;
  color: #000;
  padding: 6px 7px;
  background: none;
  width: 50%;
  outline: none;
  border: 1px solid #999;
  margin: 0px 0px 15px 0px;
  display: block;
  -webkit-appearance: none;
}
.magsingle-contact textarea {
  font-size: 14px;
  font-weight: 400;
  color: #000;
  padding: 5px 6px;
  background: none;
  width: 100%;
  height: 9em;
  border: 1px solid #999;
  outline: none;
  resize: none;
  -webkit-appearance: none;
}
.magsingle-contact input[type="submit"] {
  font-size: 15px;
  font-weight: 400;
  color: #fff;
  padding: 8px 20px;
  background: #a6192e;
  border: none;
  outline: none;
  -webkit-appearance: none;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -o-border-radius: 5px;
  margin: 10px 0px 0px 0px;

}
.magsingle-contact input[type="submit"]:hover {
	background:#ffcd00;
	transition: 0.5s all;
  -webkit-transition: 0.5s all;
  -moz-transition: 0.5s all;
  -o-transition: 0.5s all;
}
.pages {
  padding: 4em 0em 4em 0em;
}
.Buttons a{
	text-decoration: none;
}
.Buttons a:hover {
  text-decoration: none;
}
.progress-bars {
  padding: 2.5em 0em 2.5em 0em;
}
.pagenatin {
  padding: 2.5em 0em 2.5em 0em;
}
.distracted {
  padding: 2.5em 0em 2.5em 0em;
}
/*--single page end here--*/
/*--contact start here--*/
.contact{
		padding:4em 0em;
}
.contact-top{
  text-align: center;
  padding: 0em 0em 2em 0em;
}
.contact-top h3 {
  font-size: 2.5em;
  font-weight: 600;
  color: #ba0c2f;
  margin: 0em 0em 0.2em 0em ;
  font-family: 'Courgette-Regular';
}
.contact-top p {
  font-size: 1em;
  font-weight: 400;
  color: #777676;
  line-height: 1.6em;
  width: 68%;
  margin: 0 auto;
}
.contact-bottom{
	margin-top:4%;
}
.map iframe{
	width:100%;
	height:350px;
	border:none;
}
.contact-text{
	margin-top:4%;
}
.contact-left input[type="text"] {
	width: 32.4%;
	margin: 0px;
	color: #000;
	background: none;
	padding: 10px 10px;
	outline: none;
	border: 1px solid #949494;
}
.contact-left textarea {
	width: 100%;
	color: #000;
	resize: none;
	background: none;
	height: 12.7em;
	padding: 10px;
	outline: none;
	border: 1px solid #949494;
	margin-top: 1.4%;
}
.contact-left input[type=submit] {
	color: #fff;
	padding: 9px 42px;
	font-size: 15px;
	cursor: pointer;
	font-weight: 500;
	margin: 20px 0 0 0px;
	background: #ffcd00;
	outline: none;
	border :none;
}
.contact-left input[type=submit]:hover{
	background: #BA0C2F;
	color:#fff;
	transition: 0.5s all;
	-webkit-transition: 0.5s all;
	-moz-transition: 0.5s all;
	-ms-transition: 0.5s all;
	-o-transition: 0.5s all;
}
.address h5{
	color:#BA0C2F;
	font-size:1.3em;
	font-weight:700;
	margin: 1.5em 0em 0.3em 0em;
	font-family: 'Courgette-Regular';
}
.contact-right h3 {
  font-size: 1.6em;
  font-weight: 600;
  color: #FFCD00;
  margin: 0em 0em 0.3em 0em;
  font-family: 'Courgette-Regular';
}
.contact-right h4 {
  font-size: 1em;
  font-weight: 400;
  color: #949494;
  line-height: 1.4em;
  margin: 0em 0em 0.3em 0em;
}
.contact-left input[type="text"]:nth-child(2) {
	margin: 0 6px;
}
.address p{
	color: #999;
	font-size: 16px;
	line-height: 1.6em;
}
.address p span{
	display:block;
}
.address p a{
	color: #999;
}
.contact-left {
  padding: 0em;
}
/*--contact start here--*/
/*--media quries start here--*/
@media(max-width:1440px){
.banner {
  min-height: 600px;
}
.banner-main {
  padding:30.3em 0em 0em 0em;
}
}
@media(max-width:1366px){

}
@media(max-width:1280px){
.top-nav ul li a {
  padding: 1.7em 2.25em 1.7em 2.2em;
}
}
@media(max-width:1024px){
.top-nav ul li a {
  padding: 1em 1.5em 1em 1.5em;
}
.banner {
  min-height: 440px;
}
.coff-online-main {
  padding: 3em 0em 0em 0em;
}
.about-wedo-right h4 {
  margin: 0em 0em 0.3em 0em;
}
.about-wedo-right p {
  font-size: 0.95em;
  line-height: 1.5em;
}
.coff-bar-right {
  padding: 4.5em 1em 0em 1em;
}
.coff-bar-right p {
  font-size: 0.95em;
  line-height: 1.6em;
  width: 83%;
}
.culfy-left p {
  font-size: 0.95em;
  line-height: 1.6em;
  width: 83%;
}
.culfy-left {
  padding: 4em 1em 0em 1em;
}
.about-top p {
  font-size: 0.95em;
}
.team-details p {
  font-size: 0.95em;
  line-height: 1.5em;
}
.advan-text p {
  font-size: 0.95em;
  line-height: 1.5em;
}
.advan-text h4 {
  font-size: 1.27em;
}
.serv-text p {
  font-size: 0.95em;
  line-height: 1.5em;
}
.serv-text h4 {
  font-size: 1.2em;
}
.feature-text p {
  font-size: 0.95em;
}
.addition-grid ul li a {
  font-size: 0.95em;
  padding: 0px 0px 0px 25px;
}
.blog-top p {
  font-size: 0.95em;
}
.contact-left input[type="text"] {
  width: 32.2%;
}
.banner-main {
  padding: 20.3em 0em 0em 0em;
}
.banner-main p {
  width: 62%;
}
}
@media(max-width:768px){
span.menu{
		display: block;
		text-align: center;
		padding: 1px 0px 0px 0px;
		cursor: pointer;
		color: #E74C3C;
		font-size: 16px;
		font-weight: 700;
		position:relative;
	}
.top-nav ul.res{
	 display:none;
	 padding:0px;
}
.top-nav ul.res {
		padding: 0;
		margin: 1.15em 0em 0em 0em;
		z-index: 999;
		position: absolute;
		width: 100%;
		left:0;
}
.top-nav ul.res li {
		display: block;
		text-align: center;
		background:#000;
		margin: 0;
		width: 100%;
}
.top-nav ul.res li a {
		font-size: 16px;
		padding: 1em 0;
		color: #fff;
		display: block;
}
ul.res li a:hover,ul.res li a.active{
	color:#000;
}
.nav-justified > li > a {
  margin-bottom: 0px;
}
.header {
  padding: 0em 0em 1.2em 0em;
}
.top-nav {
  padding: 0em 0em 0em 0em;
}
.bann-info-grid {
  width: 33%;
  float: left;
}
.banner {
  min-height: 320px;
}
.banner-main {
  padding: 12.8em 0em 0em 0em;
}
.coff-online-main h1 {
  font-size: 2.5em;
}
.bann-info {
  padding: 3em 0em 3em 0em;
}
.logo img {
  width: 35%;
}
.logo {
  padding: 1em 0em 0.5em 0em;
}
.top-nav ul.res li a {
  padding: 0.75em 0;
}
.banner-main p {
  width: 75%;
}
.ban-info-details h3 {
  font-size: 1.1em;
}
.coff-online-main h2 {
  font-size: 1.5em;
  margin: 0.2em 0em 0.5em 0em;
}
.coff-online-main h4 {
  font-size: 1.2em;
  width: 100%;
}
.coff-online-main p {
  font-size: 0.95em;
  line-height: 1.5em;
  width: 100%;
}
.coff-online-main {
  padding: 3em 0em 0em 0em;
}
.coff-online {
  min-height: 420px;
}
.coff-bar-left {
  min-height: 385px;
}
.coff-bar-right {
  padding: 2em 1em 0em 1em;
}
.cof-bar-btn {
  margin: 2em 0em 0em 0em;
}
.coff-bar-right p {
  width: 100%;
}
.culfy-left {
  padding: 3em 1em 3em 1em;
}
.cull-btn {
  margin: 2em 0em 0em 0em;
}
.culfy-right {
  min-height: 400px;
}
.footer {
  padding: 2em 0em 2em 0em;
}
.footer-grid {
  float: left;
  width: 25%;
}
.about {
  padding: 2em 0em 2.5em 0em;
}
.about-top-img {
  width: 55%;
  margin: 0em auto 1.5em;
}
.about-top {
  padding: 0em 0em 1.5em 0em;
}
.team-top-left {
  float: left;
  width: 50%;
  margin: 0em 0em 1.5em 0em;
}
.team-mem {
  padding: 2em 0em 2em 0em;
}
.advan-cup {
  float: left;
  width: 16%;
}
.advan-text {
  float: right;
  width: 84%;
}
.advan-ser {
  float: left;
  width: 16%;
}
.advantage-right {
  padding-top: 1.5em;
}
.advan-mach {
  float: left;
  width: 16%;
}
.advan-top {
  margin: 0em 0em 2em 0em;
}
.advan-tin {
  float: left;
  width: 16%;
}
.advantages {
  padding: 2em 0em 3em 0em;
}
.serv-img {
  float: left;
  width: 35%;
}
.serv-text {
  float: right;
  width: 65%;
}
.services-grid {
  margin: 0em 0em 1.5em 0em;
}
.services {
  padding: 2em 0em 0em 0em;
}
.cord-drop {
  padding: 0px;
  float: left;
  width: 7%;
}
.feature-text {
  float: right;
  width: 84%;
}
.fact-grid {
  float: left;
  width: 33%;
  padding: 0em 0.3em 0em 0em;
}
.feature-text h4 {
  font-size: 1em;
}
.serv-img {
  padding: 0px;
}
.services-grid {
  padding: 0px;
}
.addition-grid {
  float: left;
  width: 50%;
}
.services-main h3 {
  margin: 0em 0em 1em 0em;
}
.pages {
  padding: 3em 0em 2em 0em;
}
.label {
  padding: .2em 0.5em .2em;
}
.blog {
  padding: 2em 0em 3em 0em;
}
.blog-top p {
  width: 85%;
}
.blog-top {
  padding: 0em 0em 2em 0em;
}
.user {
  float: left;
  width: 15%;
}
.user-comment {
  float: right;
  width: 85%;
}
.blog-right {
  padding: 0em 0em 0em 0em;
}
.map iframe {
  height: 250px;
}
.contact-right {
  padding: 2em 0em 0em 0em;
}
.contact {
  padding: 2em 0em;
}
.blog-grids {
  padding: 0em 0em 2em 0em;
}
.blog-left {
  padding: 0em 0em 0em 0em;
}
.magsingle-contact {
  margin: 3em 0em 2em 0em;
}
}
@media(max-width:640px){
.banner {
  min-height: 290px;
}
.ban-info-details p {
  font-size: 0.84em;
}
.cof-bar-btn a {
  padding: 0.5em 1.5em 0.5em 1.5em;
}
.cull-btn a{
  padding: 0.5em 1.5em 0.5em 1.5em;
}
.coff-online-main h4 {
  font-size: 1.05em;
}
.coff-online-main h1 {
  font-size: 2.2em;
}
.about-top h3 {
  font-size: 2.2em;
}
.about-top p {
  width: 100%;
}
.team-main h3 {
  font-size: 2.1em;
}
.advantages h3 {
  font-size: 2.1em;
  margin: 0em 0em 0.8em 0em;
}
.services-main h3 {
  margin: 0em 0em 0.7em 0em;
  font-size: 2.1em;
}
.feature h3 {
  font-size: 2.1em;
}
.feature-text h4 {
  font-size: 0.9em;
}
.cord-drop span.numbers {
  font-size: 1.1em;
}
.feature-text {
  float: right;
  width: 90%;
}
.feature {
  padding: 0em 0em 1em 0em;
}
.addition-main h3 {
  font-size: 2.1em;
  margin: 0em 0em 0.7em 0em;
}
.label {
  font-size: 59%;
}
.contact-left input[type="text"] {
  width: 32%;
}
.blog-top h3 {
  font-size: 2.1em;
}
.contact-top h3 {
  font-size: 2.1em;
}
.contact-top p {
  font-size: 0.95em;
  width: 100%;
}
.contact-left input[type=submit] {
  margin: 5px 0 0 0px;
}
.top-nav ul.res li a {
  padding: 0.25em 0;
}
.footer-grid h3 {
  font-size: 1.3em;
  margin: 0em 0em 0.5em 0em;
}
.copyright {
  padding: 0.5em 0em 0em 0em;
}
.contact-left input[type="text"] {
  width: 31.5%;
}
ul.p_n-list li {
  margin: 0px 0.1em 0px 0px;
}
ul.p_n-list li span.list-bar {
  font-size: 0.8em;
}
.banner {
  min-height: 250px;
}
.banner-main p {
  width: 100%;
  font-size: 0.9em;
}
.banner-main {
  padding: 9.15em 0em 0em 0em;
}
.coff-bar-left {
  min-height: 320px;
}
.culfy-right {
  min-height: 310px;
}
}
@media(max-width:480px){
.logo img {
  width: 45%;
}
.banner-main {
  padding: 8.4em 0em 0em 0em;
}
.bann-info-grid {
  width: 60%;
  float: none;
  margin: 0em auto 1em;
}
.bann-info {
  padding: 2em 0em 2em 0em;
}
.banner {
  min-height: 200px;
}
.banner-main p {
  font-size: 0.8em;
  line-height: 1.3em;
  padding: 1em 1em 1.5em 1em;
}
.coff-online-main span.read {
  background: url(../images/text.png)no-repeat 15px 15px #ba0c2f;
  width: 60px;
  height: 60px;
  margin: 1em 0em 0em 0em;
}
.coff-online-main span.read:hover {
  background: url(../images/text.png)no-repeat 15px 15px #ffcd00;
}
.coff-bar-left {
  min-height: 240px;
}
.culfy-right {
  min-height: 235px;
}
.advan-cup {
  width: 22%;
  background: url(../images/ad4.png)no-repeat#ffcd00 19px 17px;
  background-size: 62%;
}
.advan-text {
  width: 77%;
}
.advan-ser {
  background: url(../images/ad1.png)no-repeat#ffcd00 16px 25px;
  width: 22%;
   background-size: 62%;
}
.advan-mach {
  width: 22%;
  background: url(../images/ad3.png)no-repeat#ffcd00 12px 28px;
  background-size: 62%;
}
.advan-tin {
  float: left;
  width: 22%;
  background: url(../images/ad2.png)no-repeat#ffcd00 13px 17px;
}
.coff-bar-right h3 {
  font-size: 1.7em;
}
.culfy-left h3 {
  font-size: 1.7em;
}
.about-top h3 {
  font-size: 1.8em;
}
.about-wedo-right h4 {
  font-size: 1.1em;
}
.about-top-img {
  width: 75%;
}
.team-main h3 {
  font-size: 1.8em;
}
.advantages h3 {
  font-size: 1.8em;
}
.services-main h3 {
  font-size: 1.8em;
}
.serv-text h4 {
  font-size: 1.1em;
}
.feature h3 {
  font-size: 1.8em;
}
.fact-grid {
  float: none;
  width: 100%;
  padding: 0em 0em 1.3em 0em;
}
.feature-text h4 {
  font-size: 1.05em;
}
.cord-drop span.numbers {
  padding: 0.5em 0.8em 0.5em 0.8em;
}
.addition {
  padding: 0.5em 0em 2em 0em;
}
.addition-main h3 {
  font-size: 1.8em;
}
table.table h1 {
  font-size: 32px;
}
.label {
  font-size: 40%;
}
.blog-top h3 {
  font-size: 1.8em;
}
.blog-top p {
  width: 100%;
}
.blog-grids h3 {
  font-size: 1.2em;
  margin: 0em 0em 0.7em 0em;
}
.blog-top {
  padding: 0em 0em 1.4em 0em;
}
.blog-grids h4 {
  font-size: 1.1em;
}
.blog-detail p {
  font-size: 0.9em;
  line-height: 1.4em;
}
.blog-grids {
  padding: 0em 0em 3em 0em;
}
.blog-btn a {
  font-size: 0.9em;
}
.user-comment {
  width: 78%;
}
.user-comment h4 {
  font-size: 1.1em;
}
.user-comment p {
  font-size: 0.85em;
  line-height: 1.5em;
}
.user-comment h5 {
  font-size: 0.8em;
}
.user-bwn a {
  font-size: 13px;
}
.magsingle-contact h3 {
  font-size: 20px;
}
.blog-cate {
  margin: 0em 0em 1.5em 0em;
}
.blog {
  padding: 2em 0em 2em 0em;
}
.blog-cate h3 {
  font-size: 1.3em;
}
.contact-top h3 {
  font-size: 1.8em;
}
.contact-top p {
  font-size: 0.85em;
}
.map iframe {
  height: 200px;
}
.contact-left input[type="text"] {
  width: 99.5%;
  padding: 6px 10px;
  font-size: 0.85em;
}
.contact-left input[type="text"]:nth-child(2) {
  margin: 8px 0px;
}
.contact-left textarea {
  font-size: 0.85em;
  height: 9.7em;
}
.header {
  padding: 0em 0em 0.7em 0em;
}
.addition-grid {
  float: none;
  width: 100%;
}
.addition-grid ul li a {
  font-size: 0.85em;
}
.footer-grid {
  float: none;
  width: 100%;
  margin: 0em 0em 1.2em 0em;
}
ul.p_n-list li a {
  font-size: 0.85em;
}
}
@media(max-width:320px){
.logo img {
  width: 49%;
}
.banner-main {
  padding: 3.4em 0em 0em 0em;
}
span.menu img {
  width: 8%;
}
.banner {
  min-height: 150px;
}
.bann-info-grid {
  width: 90%;
}
.coff-online-main h1 {
  font-size: 1.4em;
}
.coff-online-main h2 {
  font-size: 1.1em;
}
.coff-online-main h4 {
  font-size: 0.85em;
}
.coff-online-main p {
  font-size: 0.8em;
}
.coff-online-main span.read {
  background: url(../images/text.png)no-repeat 8px 9px #ba0c2f;
  width: 45px;
  height: 47px;
}
.coff-online-main span.read:hover {
  background: url(../images/text.png)no-repeat 8px 9px #ffcd00;
}
.coff-online {
  min-height: 340px;
}
.coff-bar-left {
  min-height: 155px;
}
.coff-bar-right {
  padding: 1em 1em 0em 1em;
}
.coff-bar-right h3 {
  font-size: 1.3em;
}
.coff-bar-right p {
  font-size: 0.85em;
  line-height: 1.5em;
}
.cof-bar-btn {
  margin: 0.7em 0em 0em 0em;
}
.culfy-left {
  padding: 2em 1em 2em 1em;
}
.culfy-left h4 {
  font-size: 1em;
  margin: 0em;
}
.culfy-left h3 {
  font-size: 1.3em;
  margin: 0em 0em 0.4em 0em;
}
.culfy-left p {
  font-size: 0.85em;
  line-height: 1.4em;
  width: 100%;
}
.cull-btn {
  margin: 1.5em 0em 0em 0em;
}
.cull-btn a {
  font-size: 0.95em;
  padding: 0.5em 1em 0.5em 1em;
}
.culfy-right {
  min-height: 150px;
}
.footer {
  padding: 1em 0em 1em 0em;
}
.footer-grid h3 {
  font-size: 1.4em;
}
.footer-grid ul li a {
  font-size: 0.95em;
}
.footer-grid ul li {
  margin: 0em 0em 0.3em 0em;
}
.footer-grid p {
  font-size: 0.9em;
  line-height: 1.5em;
}
.footer-grid h4 {
  font-size: 1.2em;
}
.about-top h3 {
  font-size: 1.3em;
}
.about-top p {
  font-size: 0.85em;
}
.about-top-img {
  width: 100%;
  margin: 0em auto 1em;
}
.about-top {
  padding: 0em 0em 1em 0em;
}
.footer-grid {
  padding: 0px;
}
.about-top-img {
  padding: 0px;
}
.about-wedo-right {
  padding: 0px;
}
.about-wedo-right h4 {
  font-size: 1em;
}
.about-wedo-right p {
  font-size: 0.85em;
}
.about {
  padding: 1em 0em 1.5em 0em;
}
.team-mem {
  padding: 1em 0em 0em 0em;
}
.team-main h3 {
  font-size: 1.3em;
  margin: 0em 0em 0.7em 0em;
}
.team-top-left {
  padding: 0px 6px 0px 0px;
}
.team-details h4 {
  font-size: 1.1em;
}
.team-details p {
  font-size: 0.85em;
}
.advantages {
  padding: 1em 0em 1.5em 0em;
}
.advantages h3 {
  font-size: 1.3em;
}
.advan-text h4 {
  font-size: 1em;
}
.advan-text p {
  font-size: 0.85em;
}
.advantage-left {
  padding: 0px;
}
.advantage-right {
  padding: 1em 0em 0em 0em;
}
.advan-top {
  margin: 0em 0em 1em 0em;
}
.advan-text {
  padding: 0px 0px 0px 10px;
}
.advan-tin {
  background: url(../images/ad2.png)no-repeat#ffcd00 6px 23px;
  background-size: 85%;
}
.advan-ser {
  background: url(../images/ad1.png)no-repeat#ffcd00 10px 25px;
  background-size: 74%;
}
.services-main h3 {
  font-size: 1.3em;
}
.serv-text p {
  font-size: 0.8em;
}
.serv-text h4 {
  font-size: 0.9em;
  margin: 0px 0px 2px 0px;
}
.services {
  padding: 1em 0em 0em 0em;
}
.serv-img {
  float: none;
  width: 100%;
}
.serv-text {
  float: none;
  width: 100%;
  padding: 1em 0em 0em 0em;
}
.services-bot {
  margin: 0em 0em 0em 0em;
}
.feature h3 {
  font-size: 1.3em;
}
.feature-main {
  padding: 1em 0em 0em 0em;
}
.feature-text h4 {
  font-size: 0.95em;
}
.feature-text p {
  font-size: 0.85em;
  line-height: 1.5em;
}
.feature {
  padding: 0em 0em 0em 0em;
}
.addition-main h3 {
  font-size: 1.3em;
}
.addition {
  padding: 0.5em 0em 1em 0em;
}
.addition-grid ul li a {
  font-size: 0.85em;
}
.pagination-lg > li > a, .pagination-lg > li > span {
  padding: 10px 12px;
  font-size: 15px;
}
.pages {
  padding: 1em 0em 1em 0em;
}
.blog {
  padding: 1em 0em 1.5em 0em;
}
.blog-top h3 {
  font-size: 1.3em;
}
.blog-top p {
  font-size: 0.85em;
}
.blog-top {
  padding: 0em 0em 1em 0em;
}
.blog-grids h3 {
  font-size: 1em;
}
.blog-left {
  padding: 0px;
}
.blog-grids h4 {
  font-size: 1em;
}
.blog-detail p {
  font-size: 0.85em;
}
.blog-grids {
  padding: 0em 0em 2em 0em;
}
.blog-grids h3 {
  font-size: 0.9em;
}
.blog-right {
  padding: 0em 0em 0em 1em;
}
.blog-btn a {
  font-size: 0.8em;
}
.blog-cate h3 {
  font-size: 1.1em;
  margin: 0px 0px 10px 0px;
}
.blog-right {
  padding: 0px;
}
.blog-cate ul li a {
  font-size: 0.85em;
}
ul.p_n-list li {
  margin: 0px 0em 0px 0px;
}
ul.p_n-list li a {
  font-size: 0.8em;
  padding: 10px 0.4em;
}
.single-commemts {
  padding: 0.8em 0.5em 0.8em 0.5em;
}
.user img {
  width: 100%;
}
.user {
  float: left;
  width: 20%;
  padding: 0px;
}
.user-comment {
  width: 80%;
  padding: 0px 0px 0px 5px;
}
.magsingle-contact {
  margin: 1.5em 0em 0em 0em;
}
.magsingle-contact h3 {
  font-size: 17px;
}
.magsingle-contact input[type="text"] {
  font-size: 13px;
  padding: 4px 7px;
  width: 70%;
  margin: 0px 0px 10px 0px;
}
.blog-cate {
  margin: 1em 0em 1.5em 0em;
}
.magsingle-contact input[type="submit"] {
  font-size: 14px;
  padding: 4px 10px;
  margin: 4px 0px 0px 0px;
}
.contact {
  padding: 1em 0em;
}
.contact-top h3 {
  font-size: 1.3em;
}
.map iframe {
  height: 130px;
}
.contact-top {
  padding: 0em 0em 1em 0em;
}
.contact-left textarea {
  height: 7.7em;
}
.contact-left input[type=submit] {
  padding: 5px 18px;
  font-size: 13px;
}
.contact-right {
  padding: 1em 0em 0em 0em;
}
.contact-right h3 {
  font-size: 1.2em;
}
.contact-right h4 {
  font-size: 0.85em;
}
.address h5 {
  font-size: 1.1em;
  margin: 1em 0em 0.3em 0em;
}
.address p {
  font-size: 14px;
  line-height: 1.5em;
}
.header {
  padding: 0em 0em 0.5em 0em;
}
.logo {
  padding: 0.5em 0em 0.3em 0em;
}
.ban-info-details {
  padding: 0.4em 0.3em 0.4em 0.3em;
}
.coff-online-main {
  padding: 1.5em 0em 0em 0em;
}
.cof-bar-btn a {
  padding: 0.3em 0.8em;
  font-size: 0.95em;
}
.copyright p {
  font-size: 0.9em;
}
.progress-bars {
  padding: 1em 0em 0.5em 0em;
}
.pagenatin {
  padding: 0.5em 0em 0.5em 0em;
}
.distracted {
  padding: 0.5em 0em 0.5em 0em;
}
ul.pagination {
  margin: 5px 0;
}
.top-nav ul.res {
  margin: 0.5em 0em 0em 0em;
}
span.glyphicon.glyphicon-list-alt.read {
  line-height: 1.7em;
  font-size: 1.5em;
  width: 40px;
  height: 40px;
  margin: 0.7em 0em 0em 0em;
}
 /*--media quries end here--*/
